* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @media(max-width: 390px){
    border: solid red;
    width: 100%;
  }
  background-color: #efeef3;
}

header {
  width: 100vw;

  img {
    width: 100vw;
  }
  div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #efeef3;
    height: 4vw;
    img {
      margin-left: 1vw;
      width: 10%;
      height: 3vw;
    }
  }
  @media(max-width: 390px){
    border: solid red;
    .Modelos{
      display: none;
    }
    img{
      border: solid blue;
      width: 100%;
    }
  }
}

ul {
  font-family: "Kodchasan", sans-serif;
  font-weight: 600;
  font-size: 1.15rem;
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: 2rem;
}

li {
  display: flex;
  margin-left: 8rem;
  margin-right: 2rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgba(233, 8, 8, 0.951);
  transition: 0.5s all;
}

.logo1 {
  width: 9rem;
  height: 4rem;
  margin-left: 2rem;
}

main {
  margin: 2% 5vw;
}

.conteiner1 {
  display: flex;
}

.produtos {
  width: 100vw;
  height: 20vw;
}

.div1 {
  display: inline-block;
  padding: 3vh;
  margin-left: 30vh;
  margin-right: 20vh;
}

h2 {
  font-family: "Kodchasan", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 5vh;
  margin-top: 3vh;
  margin-left: 5vw;
}

p {
  font-family: "Kodchasan", sans-serif;
  font-weight: 500;
  margin-top: 6vh;
  font-size: 1.3rem;
  margin-right: 6vw;
  margin-left: 5vw;
  text-align: center;
}

.conteiner2 {
  display: flex;
  margin-top: 3vw;
  margin-right: 1rem;

  justify-content: space-between;
  align-items: center;
}

h3 {
  font-family: "Kodchasan", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-left: 1vw;
}

.produtos02 {
  display: flex;
  margin-left: 2vw;
  margin-right: 1vw;
}

.produto03 {
  margin-left: 2vh;
  margin-right: 14vh;
}
